<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AWS</key>
    <dict>
        <key>ContentManager</key>
        <dict>
            <key>Default</key>
            <dict>
                <key>CloudFrontURL</key>
                <string>d3tersbicchyvl.cloudfront.net</string>
                <key>S3Bucket</key>
                <string>projectsupreme-contentdelivery-mobilehub-1395306802</string>
                <key>Region</key>
                <string>us-east-1</string>
            </dict>
        </dict>
        <key>PinpointAnalytics</key>
        <dict>
            <key>Default</key>
            <dict>
                <key>AppId</key>
                <string>12ad255ba6e04ade8d6f069fc65eb48a</string>
                <key>Region</key>
                <string>us-east-1</string>
            </dict>
        </dict>
        <key>PinpointTargeting</key>
        <dict>
            <key>Default</key>
            <dict>
                <key>Region</key>
                <string>us-east-1</string>
            </dict>
        </dict>
        <key>UserFileManager</key>
        <dict>
            <key>Default</key>
            <dict>
                <key>S3Bucket</key>
                <string>projectsupreme-userfiles-mobilehub-1395306802</string>
                <key>Region</key>
                <string>us-east-1</string>
            </dict>
        </dict>
        <key>Cognito</key>
        <dict>
            <key>Default</key>
            <dict>
                <key>Region</key>
                <string>us-east-1</string>
            </dict>
        </dict>
        <key>DynamoDBObjectMapper</key>
        <dict>
            <key>Default</key>
            <dict>
                <key>Region</key>
                <string>us-east-1</string>
            </dict>
        </dict>
        <key>IdentityManager</key>
        <dict>
            <key>Default</key>
            <dict/>
        </dict>
        <key>CredentialsProvider</key>
        <dict>
            <key>CognitoIdentity</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>PoolId</key>
                    <string>us-east-1:e41bf209-4073-405e-8114-0bd6915db3de</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
        </dict>
        <key>MobileHub</key>
        <dict>
            <key>ProjectClientId</key>
            <string>MobileHub 09d985cc-bc38-44c0-8c8f-14401c771a08 aws-my-sample-app-ios-swift-v0.10</string>
        </dict>
    </dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Motiv</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
